h1 {
  text-align: center;
}
div {
  margin: 20px;
}

button a {
  color: white;
}
/* Sidebar */

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5a995c;
  padding-top: 20px;
}

.sidebar button {
  display: block;
  color: white;
  background-color: #5a995c;
  padding: 16px;
  text-align: left;
  border: none;
  width: 100%;
  text-decoration: none;
}

.sidebar button:hover {
  background-color: #575757;
}

.sidebar button.active {
  background-color: #41a98e;
}

.content {
  margin-left: 200px;
  padding: 20px;
}
/* history */

.history-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.history-summary {
  font-weight: bold;
}

.history-details {
  display: none;
  margin-top: 10px;
}

.history-item.active .history-details {
  display: block;
}
/* visio */
#localVideo,
#remoteVideo {
  width: 45%;
  border: 1px solid #ccc;
  margin: 10px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container {
  text-align: center;
  margin: 20px;
}
